
@import url("observablehq:default.css");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

/* ----------------- General ----------------- */

:root {
    --color-white: #ffffff;
    --color-grey: #d6d6d6;
    --color-black: #000000;
    --color-dark-red: rgb(196, 24, 16);
    --color-light-orange: rgb(252, 161, 108);
    --theme-foreground-focus: rgb(196, 24, 16);  /* Link Color */
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    text-align: left;
}

body {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: "Patrick Hand SC", Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    font-size: 18px;
    text-align: center;
}
a {
    font-weight: bold;
}

p,
li {
    font-size: 18px;
}

/* ----------------- SVG ----------------- */

.bubble-priority {
    fill: var(--color-white);
    stroke: var(--color-grey);
    filter: drop-shadow(0 0 1rem var(--color-grey));
}
.text-priority {
    fill: var(--color-black);
    text-anchor: middle;
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 20px;
}

.respondents-number {
    fill: var(--color-black);
    text-anchor: middle;
    font-family: "Patrick Hand SC", Helvetica, sans-serif;
    font-size: 16px;
    vertical-align: top;
}
.respondents-text {
    fill: var(--color-black);
    text-anchor: middle;
    font-family: "Patrick Hand SC", Helvetica, sans-serif;
    font-size: 16px;
    vertical-align: bottom;
}

.word-cloud {
    fill: var(--color-black);
    text-anchor: middle;
    font-family: "Patrick Hand SC", sans-serif;
}
.hidden {
    visibility: hidden;
}

.bold {
    font-weight: bold;
}


.axis{
    stroke: var(--color-grey);
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-dasharray: 3px;
}

.line-impact-curve {
    fill: none;
}

#tooltip {
    padding: 10px 20px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    position: absolute;
	width: 200px;
	height: auto;
    font-size: 14px;
    filter: drop-shadow(0 0 1rem var(--color-grey));
}

/* ----------------- Layout ----------------- */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 8rem;
    text-align: center;
  }
  
.hero h1 {
    margin: 2rem 2rem;
    padding: 5px;
    max-width: none;
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    background: linear-gradient(30deg, var(--color-dark-red), var(--color-light-orange));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.hero p {
    max-width: 1200px; /* overwrite default */
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-description {
    height: 300px;
}

.text-description-container {
    height: 800px;  /* Same height as SVG */
    width: 500px;
    min-width: 500px;
    padding: 2rem;
    /* background-color: #efefef; */
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    text-wrap: balance; 
    fill: var(--color-white);
    stroke: var(--color-grey);
    box-shadow: 0 0 10rem 0.02rem #efefef;
    /* display: flex;
    flex-direction: row; */
}

#observablehq-footer {
    display: none;
    visibility: hidden;
}
.footer {
    margin-top: 4rem;
    font-size: 12px;
}

:not(.hero h1)::selection {
    background-color: var(--color-light-orange);
    color: var(--color-white);
}

/* ----------------- Stepper ----------------- */

#stepper-container {
    position: relative;
    width: 100%;
    height: 250px;
}

#stepper-nav {
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.step-button {
    margin: 5px auto;
    width: 160px;
    padding: 5px 5px;
    background-color: var(--color-dark-red);
    color: var(--color-white);
    font-family: "Patrick Hand SC", Helvetica, sans-serif;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
}
.step-button:hover {
    background-color: var(--color-light-orange);
}
#step-back {
    position: absolute;
    left: 0px;
    opacity: 0;
}
#step-next {
    position: absolute;
    right: 0px;
    opacity: 1;
}

/* By default, all annotation-steps are hidden. */
.annotation-step {
    z-index: 40;
    position: absolute;
    opacity: 0%;

    width: 100%;
    left: 0px;
    top: 0px;
}

.legend-container {
    position: relative;
    height: 420px;
    width: 100%;
}
.legend-step {
    z-index: 30;
    position: absolute;
    opacity: 0%;
    left: 0px;
    top: 0px;
}
#annotation-step-0,
#legend-step-0 {
    opacity: 100%;
}
